* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 5px;
}

#appTitle {
    padding-left: 5px;
    padding-bottom: 10px;
}

#forecast {
    display: flexbox;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.card-title {
    line-height: 1.1;
    margin-bottom: 0;
}

#currentWeatherText {
    font-size: 20px
}

.list-group-item {
    padding: .25rem 1.25rem;
    font-size: 15px;
}

.bg-color {
    background-color: #d2dfe7;
}

.fc-bg {
    background-color: #e7dfd3;
}

.fp {
  font-size: 16px;  
}